.main
  .main__header
    .main__header__box
      .main__header__title
        title
      .main__header__edit
        Edit
    .main__thread
      .main__thread__member
        yahhahahahahahaha
  .main__space
    .main__space__box
      .main__space__thread
        .main__space__text
          ghgreger
        .main__space__date
          20191122
      .main__space__name
        bokkoi
  .main__footer
    .main__footer__form
      %input{type: "text", class: "text"}
      %label{class: "input-box__image"}
        = icon('fas', 'image', class: "icon")
        %input{type: "file", class: "input"}
    .main__footer__send
      Send