.side
  .side__header
    .side__header__box
      .side__header__box__name
        hahaha
      .side__header__box__link
        .side__header__box__link__edit
          = link_to "#", class: "contents__btn" do
            = icon('far', 'edit')
        .side__header__box__link__cog
          = link_to "#", class: "contents__btn" do
            = icon('fas', 'cog')

  .side__main
    .side__main__group
      team
    .side__main__text
      yabai