.wrapper {
  display: flex;
}

.side {
  color: #ffffff;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100vh;
  &__header {
    background-color: #253141;
    font-size: 16px;
    font-weight: bold;
    height: 96px;
    line-height: 96px;
    text-align: center;
    padding: 0 20px;

    &__box {
      display: flex;
      justify-content: space-between;
    }
    &__name {
      margin-left: 20px;
    }
    &__box__link {
      display: flex;
      list-style: none;
    }
  }
  .icon {
    color: #ffffff;
  }
  &__main {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 20px 20px 0;
    font-weight: bold;
    &__group {
      font-size: 15px;
      margin-bottom: 5px;
    }
    &__group-name {
    font-size: 11px;
    margin-bottom: 40px;
    }
  }
}